.contact {
  margin-top: 120px;
  margin-bottom: 120px;
  @include device(small) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contact form {
  label {
    @include font-1(18);
    display: block;
  }
  input:where([type='text'], [type='tel'], [type='email']),
  textarea {
    @include font-1(18);
    color: $second-font-color;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: 2px solid $second-font-color;
    background: transparent;
    margin-bottom: 1em;
    &:hover,
    &:focus {
      outline: none;
      border-color: $main-font-color;
    }
  }
  textarea {
    height: 120px;
  }
}

input.btn {
  @include font-1(18);
  cursor: pointer;
  color: $second-font-color;
  text-transform: uppercase;
  border: 2px solid $second-font-color;
  display: block;
  background: transparent;
  width: 200px;
  padding-right: 5px;
  @include box-shadow(
    5px 5px 0 -2px $border-color,
    5px 5px 0 0 $second-font-color
  );
  transition: 0.3s;
  &:hover {
    @include box-shadow(
      3px 3px 0 -2px $border-color,
      3px 3px 0 0 $second-font-color
    );
  }
}

.contact-info {
  display: inline-block;
  color: $second-font-color;
  margin-top: 2em;
  margin-bottom: 3em;
  @include device(large) {
    float: right;
    text-align: right;
    margin-top: -3em;
  }
}

.contact-map {
  display: block;
  @include box-shadow(0 0 0 10px $border-color);
  clear: both;
  img {
    width: 100%;
  }
}
