footer {
  padding: 20px 0;
  background: $main-font-color;
  @include box-shadow(0 0 0 10px $main-font-color);
  p {
    color: $bg-color;
    display: inline;
    @include device(small) {
      text-align: center;
      display: block;
    }
  }
  a img {
    float: right;
    @include device(small) {
      float: none;
      margin: 30px auto 10px;
    }
  }
}
