body {
  background: $bg-color;
  border: 10px solid $border-color;
  color: $main-font-color;
  @include device(small) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include font-1(18);
}
