// Colors
$bg-color: hsl(54, 22%, 91%);
$main-font-color: hsl(340, 8%, 15%);
$second-font-color: hsl(38, 14%, 53%);
$border-color: hsl(43, 15%, 76%);
$open-sign: hsl(134, 91%, 38%);

// Fonts
$font-primary: 'PT Mono', monospace;
$font-second: 'Aref Ruqaa', serif;
